<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<real>3.4</real>
	<key>2</key>
	<real>8.5</real>
	<key>3</key>
	<real>7.5</real>
	<key>4</key>
	<real>10</real>
	<key>5</key>
	<real>4.4</real>
	<key>6</key>
	<real>12.7</real>
	<key>7</key>
	<real>9.6</real>
	<key>8</key>
	<real>10.3</real>
	<key>9</key>
	<real>11.2</real>
	<key>10</key>
	<real>28.5</real>
	<key>11</key>
	<real>21.8</real>
	<key>12</key>
	<real>10.6</real>
	<key>13</key>
	<real>28.3</real>
	<key>14</key>
	<real>7.9</real>
	<key>15</key>
	<integer>5</integer>
	<key>16</key>
	<real>14.5</real>
	<key>17</key>
	<real>12.7</real>
	<key>18</key>
	<real>22.5</real>
	<key>19</key>
	<real>20.5</real>
	<key>20</key>
	<integer>22</integer>
	<key>21</key>
	<real>29.3</real>
	<key>22</key>
	<integer>20</integer>
	<key>23</key>
	<real>13.8</real>
	<key>24</key>
	<real>14.2</real>
	<key>25</key>
	<real>21.7</real>
	<key>26</key>
	<integer>17</integer>
	<key>27</key>
	<integer>16</integer>
	<key>28</key>
	<integer>26</integer>
	<key>29</key>
	<integer>21</integer>
	<key>30</key>
	<real>16.8</real>
	<key>31</key>
	<real>23.5</real>
	<key>32</key>
	<real>13.7</real>
	<key>33</key>
	<real>25.5</real>
</dict>
</plist>
