<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Afghanistan</key>
<array>
<string>1000</string>
<string>30419928</string>
<string>0.1</string>
</array>
<key>Albania</key>
<array>
<string>7800</string>
<string>3002859</string>
<string>NA</string>
</array>
<key>Belize</key>
<array>
<string>8300</string>
<string>327719</string>
<string>2.3</string>
</array>
<key>Bolivia</key>
<array>
<string>4800</string>
<string>10290003</string>
<string>0.2</string>
</array>
<key>Cameroon</key>
<array>
<string>2300</string>
<string>20129878</string>
<string>5.3</string>
</array>
<key>China</key>
<array>
<string>8400</string>
<string>1343239923</string>
<string>0.1</string>
</array>
<key>Denmark</key>
<array>
<string>40200</string>
<string>5543453</string>
<string>0.2</string>
</array>
<key>Dominican Republic</key>
<array>
<string>9300</string>
<string>10088598</string>
<string>0.9</string>
</array>
<key>Egypt</key>
<array>
<string>6500</string>
<string>83688164</string>
<string>0.1</string>
</array>
<key>Ethiopia</key>
<array>
<string>1100</string>
<string>93815992</string>
<string>NA</string>
</array>
<key>Finland</key>
<array>
<string>38300</string>
<string>5262930</string>
<string>0.1</string>
</array>
<key>France</key>
<array>
<string>35000</string>
<string>65630692</string>
<string>0.4</string>
</array>
<key>Germany</key>
<array>
<string>37500</string>
<string>81305856</string>
<string>0.1</string>
</array>
<key>Ghana</key>
<array>
<string>3100</string>
<string>25241998</string>
<string>1.8</string>
</array>
<key>Haiti</key>
<array>
<string>1200</string>
<string>9801664</string>
<string>1.9</string>
</array>
<key>Hungary</key>
<array>
<string>19600</string>
<string>9958453</string>
<string>0.1</string>
</array>
<key>Iceland</key>
<array>
<string>38000</string>
<string>313183</string>
<string>0.3</string>
</array>
<key>Iraq</key>
<array>
<string>3900</string>
<string>31129225</string>
<string>0.1</string>
</array>
<key>Japan</key>
<array>
<string>34300</string>
<string>127368088</string>
<string>0.1</string>
</array>
<key>Jordan</key>
<array>
<string>5900</string>
<string>6508887</string>
<string>0.1</string>
</array>
<key>Kazakhstan</key>
<array>
<string>13000</string>
<string>17522010</string>
<string>0.1</string>
</array>
<key>Kenya</key>
<array>
<string>1700</string>
<string>43013341</string>
<string>6.3</string>
</array>
<key>Libya</key>
<array>
<string>14100</string>
<string>6733620</string>
<string>0.3</string>
</array>
<key>Luxembourg</key>
<array>
<string>84700</string>
<string>509074</string>
<string>0.3</string>
</array>
<key>Mali</key>
<array>
<string>1300</string>
<string>14533511</string>
<string>1.0</string>
</array>
<key>Mexico</key>
<array>
<string>15100</string>
<string>114975406</string>
<string>0.3</string>
</array>
<key>Nepal</key>
<array>
<string>1300</string>
<string>29890686</string>
<string>0.4</string>
</array>
<key>Norway</key>
<array>
<string>53000</string>
<string>4707270</string>
<string>0.1</string>
</array>
<key>Oman</key>
<array>
<string>26200</string>
<string>3090150</string>
<string>0.1</string>
</array>
<key>Panama</key>
<array>
<string>13600</string>
<string>3510045</string>
<string>0.9</string>
</array>
<key>Portugal</key>
<array>
<string>23200</string>
<string>10781459</string>
<string>0.6</string>
</array>
<key>Qatar</key>
<array>
<string>102700</string>
<string>1951591</string>
<string>0.1</string>
</array>
<key>Romania</key>
<array>
<string>12300</string>
<string>21848504</string>
<string>0.1</string>
</array>
<key>Russia</key>
<array>
<string>16700</string>
<string>138082178</string>
<string>1.0</string>
</array>
<key>Rwanda</key>
<array>
<string>1300</string>
<string>11689696</string>
<string>2.9</string>
</array>
<key>Singapore</key>
<array>
<string>59900</string>
<string>5353494</string>
<string>0.1</string>
</array>
<key>Somalia</key>
<array>
<string>600</string>
<string>10085638</string>
<string>0.7</string>
</array>
<key>South Africa</key>
<array>
<string>11000</string>
<string>48810427</string>
<string>17.8</string>
</array>
<key>Spain</key>
<array>
<string>30600</string>
<string>47042984</string>
<string>0.4</string>
</array>
<key>Sweden</key>
<array>
<string>40600</string>
<string>9103788</string>
<string>0.1</string>
</array>
<key>Switzerland</key>
<array>
<string>43400</string>
<string>7655628</string>
<string>0.4</string>
</array>
<key>Tanzania</key>
<array>
<string>1500</string>
<string>43601796</string>
<string>5.6</string>
</array>
<key>Thailand</key>
<array>
<string>9700</string>
<string>67091089</string>
<string>1.3</string>
</array>
<key>Tunisia</key>
<array>
<string>9500</string>
<string>10732900</string>
<string>0.1</string>
</array>
<key>Turkey</key>
<array>
<string>14600</string>
<string>79749461</string>
<string>0.1</string>
</array>
<key>Uganda</key>
<array>
<string>1300</string>
<string>35873253</string>
<string>6.5</string>
</array>
<key>United Arab Emirates</key>
<array>
<string>48500</string>
<string>5314317</string>
<string>0.2</string>
</array>
<key>United Kingdom</key>
<array>
<string>35900</string>
<string>63047162</string>
<string>0.2</string>
</array>
<key>United States</key>
<array>
<string>48100</string>
<string>313847465</string>
<string>0.6</string>
</array>
<key>Venezuela</key>
<array>
<string>12400</string>
<string>28047938</string>
<string>NA</string>
</array>
<key>Vietnam</key>
<array>
<string>3300</string>
<string>91519289</string>
<string>0.4</string>
</array>
<key>Western Sahara</key>
<array>
<string>2500</string>
<string>522928</string>
<string>NA</string>
</array>
<key>Yemen</key>
<array>
<string>2500</string>
<string>24771809</string>
<string>0.1</string>
</array>
<key>Zambia</key>
<array>
<string>1600</string>
<string>14309466</string>
<string>13.5</string>
</array>
<key>Zimbabwe</key>
<array>
<string>500</string>
<string>12619600</string>
<string>14.3</string>
</array>
</dict>
</plist>