<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blanca Helena Gutierrez Rosales</key>
	<array/>
	<key>Daniela Patino Castillo</key>
	<array/>
	<key>Erika de la Piedra Manzano</key>
	<array/>
	<key>Fabiola Nallerly Luquin Reyes</key>
	<array/>
	<key>Ivonne Ramirez Mora</key>
	<array/>
	<key>Lisset Soto Salinas</key>
	<array/>
	<key>Monica Alejandra Ramirez Alavarado</key>
	<array/>
	<key>Zaira Berenice Giffard Palacios</key>
	<array/>
</dict>
</plist>
